@mixin flex-center($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

@mixin flexMixin($ALItems: center, $JScontent: center, $direction: row) {
  display: flex;
  align-items: $ALItems;
  justify-content: $JScontent;
  flex-direction: $direction;
}

@mixin grid-center() {
  display: grid;
  place-items: center;
}

@mixin margin-x($px) {
  margin-left: $px;
  margin-right: $px;
}

@mixin margin-y($px) {
  margin-top: $px;
  margin-bottom: $px;
}
