@mixin flex-center($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

@mixin grid-center() {
  display: grid;
  place-items: center;
}



// // Map variable
// $icons: (
//   facebook   : "\f0c4",
//   twitter    : "\f0c5",
//   googleplus : "\f0c6",
//   youtube    : "\f0c7"
// );

// // Mixin doing the magic
// @mixin icons-list($map) {
//   @each $icon-name, $icon in $map {
//     @if not map-has-key($map, $icon-name) {
//       @warn "'#{$icon-name}' is not a valid icon name";
//     }

//     @else {
//       &--#{$icon-name}::before {
//         content: $icon;
//       }
//     } 
//   }
// }

// // How to use it
// .social-link {
//     background-color: grey;
//     @include icons-list($icons);
// }