$backgroundPrimary: linear-gradient(180deg, #000 0%, rgba(70, 38, 0, 0.63) 36.98%, rgba(78, 42, 0, 0) 100%);
$background-secondary: #2b1b07;

$color-primary: #d9d9d9;
$color-secondary: #ecb014;
$color-tertiary: #f7e7dc;

// $ff-sans: var(--font-sans);

// $width-small: 600px;
// $width-medium: 1000px;
// $width-large: 1600px;

// $font-header: "Montserrat", sans-serif;
// $font-text: "Merriwether", sans-serif;

// $color-green: rgb(35, 140, 44);
// $color-yellow: #fad000;
