// $ff-sans: var(--font-sans);


// $width-small: 600px;
// $width-medium: 1000px;
// $width-large: 1600px;

// $font-header: "Montserrat", sans-serif;
// $font-text: "Merriwether", sans-serif;

// $color-green: rgb(35, 140, 44);
// $color-yellow: #fad000;