@use "../abstracts/" as *;

.about-container {
  @include flexMixin();
  gap: 20px;
  margin-top: 75px;
  padding: 20px;
  .image-container {
    width: 50%;
    // height: 85vh;
    border-radius: 10px;
    object-fit: cover;
  }

  .content-container {
    padding: 20px;
    flex: 1;
    h2,
    h3 {
      margin: 16px 0;
    }
    ul {
      list-style-type: circle;
      margin-left: 20px;
    }
    p {
      font-size: 14px;
      text-align: justify;
    }
    .note {
      font-weight: bold;
      color: $color-secondary;
    }
  }
}

@include responsive(laptop) {
  .about-container {
    flex-direction: column;
    .image-container {
      width: 100%;
      height: 50vh;
    }
    .content-container {
      padding: 0;
    }
  }
}
