@use "../abstracts/" as *;
footer {
  padding: 100px 0 20px 0;
  margin-top: 70px;
  ol {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
    #footerMenu {
      a {
        &:hover {
          border-bottom: 2px solid red;
        }
      }
    }
    #SocialMedia {
      color: white;
      #social-icons {
        @include flexMixin();
        svg {
          margin: 10px;
          font-size: 50px;
          border-radius: 10px;
          &:hover {
            color: #ecb014;
            background-color: white;
          }
        }
      }
    }
  }
  #downloadApp {
    display: flex;
    gap: 50px;
    margin: 50px 0;
    justify-content: center;
    div {
      @include flexMixin();
      padding: 4px 8px;
      gap: 10px;
      width: 230px;
      border: 2px solid #605959;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.138);
        background-color: #605959;
      }
      svg {
        font-size: 50px;
      }
      p {
        font-size: 12px;
      }
    }
  }
  #feedback {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 30px;
    margin-top: 40px;
    font-weight: bolder;
    button {
      background-color: #ecb014;
      color: white;
      padding: 6px 18px;
      cursor: pointer;
      &:hover {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.138);
        color: #ecb014;
        background-color: rgba(255, 255, 255, 0.186);
      }
    }
  }
  @media (max-width: 700px) {
    #footerMenu {
      display: none;
    }
    #SocialMedia {
      @include flexMixin();
      // flex-direction: column;
      flex-wrap: wrap;
    }
    #feedback {
      font-size: 14px;
    }
  }
  @media (max-width: 550px) {
    #SocialMedia {
      @include flexMixin();
      font-size: 12px;
      margin: 0 20px;
    }
    #downloadApp {
      margin: 10px 20px;
      div {
        width: 40vw;
      }
    }
    #feedback {
      font-size: 10px;
      margin: 10px 20px;
    }
  }
}
