@use "../abstracts/" as *;

#Frontproducts {
  margin: 50px 0;
  overflow: hidden;

  h2 {
    margin-left: 50px;
  }

  .ProductContainer {
    @include flexMixin();
    min-width: 99vw;
  }
  .ProductInnerContainer {
    @include flexMixin(center, flex-start);
    margin: 20px auto;
    overflow-x: scroll;
    min-width: 50vw;
    max-width: 98vw;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 0 20px;
    scroll-snap-type: x mandatory;
    &::-webkit-scrollbar {
      display: none;
    }

    gap: 10px;

    .FrontProduct {
      scroll-snap-align: start;
      background-color: #d9d9d9;
      border-radius: 10px;
      align-self: normal;
      border-top-right-radius: 90px;
      border: 2px solid white;
      padding-bottom: 10px;
      img {
        width: 227px;
        height: 291.11px;
        object-fit: cover;
        border-radius: 10px 90px;
        // border-radius: 10px;
      }

      p {
        color: black;
        text-align: center;
        font-weight: bolder;
        font-size: 14px;
        // height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  @media (max-width: 840px) {
    .ProductContainer {
      justify-content: flex-start;
      .FrontProduct {
        img {
          width: 177px;
          height: 241.11px;
        }
        p {
          font-size: 12px;
        }
      }
    }
  }
  @media (max-width: 426px) {
    h2 {
      margin-left: 20px;
    }
    .ProductContainer {
      margin: 15px 10px;
      max-width: 100vw;
      .FrontProduct {
        border-top-right-radius: 40px;
        img {
          border-radius: 10px 40px;
          width: 138px;
          height: 160px;
        }
      }
    }
  }
}
