@forward "buttons";
@forward "header";
@forward "slider";
@forward "searchbar";
@forward "homeproducts";
@forward "customerReview";
@forward "footer";
@forward "reserveseat";
@forward "contact";
@forward "bags";
@forward "productsCatalogue";
@forward "productPage";
@forward "about_us";
@forward "orders";
@forward "login";
@forward "preloader";
@forward "register";
@forward "filter";
@forward "page_not_found";
@forward "forgotpassword";
@forward "otpsuccess";
