@use "../abstracts/" as *;

#Orders {
  position: relative;
  top: 68px;
  color: black;
  background-color: #f7e7dc;
  margin: 0 50px 150px 50px;
  min-height: calc(100vh - 118px);
  padding: 30px 60px;
  border-radius: 20px;

  #order-wishlists {
    display: flex;
    margin-top: 30px;
    gap: 5px;

    h3 {
      width: 170px;
      text-align: center;
      padding-bottom: 2px;
      cursor: pointer;
    }

    #active {
      border-bottom: 3px solid #ecb014;
    }
  }

  #orderCardsContainer {
    @include flexMixin(flex-start, center);
    // @include flexMixin(flex-start, flex-start);
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 20px;

    #orderProduct {
      @include flexMixin(flex-start, center);
      border: 2px solid #8a8686;
      border-radius: 10px;
      overflow: hidden;
      flex-wrap: wrap;
      // align-self: normal;
      width: 420px;
      // min-height: 380px;
      padding-bottom: 45px;
      position: relative;
      // position: relative;
      // padding-bottom: 30px;

      #orderCards {
        padding: 15px;
        width: 400px;

        h4,
        h2 {
          text-align: center;
          width: 100%;
          margin-bottom: 10px;
        }

        #orders-Product {
          @include flexMixin();
          gap: 20px;
          flex-wrap: wrap;

          p {
            text-align: center;

            &:last-child {
              font-weight: bold;
            }
          }

          div {
            img {
              width: 100px;
              aspect-ratio: 1;
              object-fit: cover;
              border-radius: 5px;
            }
          }
        }

        #orderDesc {
          font-size: 14px;
          margin: 5px 20px;
        }

        #btns {
          @include flexMixin();
          gap: 20px;
          font-size: 12px;
          margin-top: 20px;
          position: absolute;
          bottom: 10px;
          width: 100%;
          margin: auto;
          // width: calc(100% - 22px);
          // margin-left: 17px;

          button {
            padding: 10px 38px;
            color: white;
            font-weight: bolder;
            cursor: pointer;

            &:first-child {
              background-color: #ecb014;
            }

            &:last-child {
              background-color: #332626;
            }
          }
        }
      }

      .track-order {
        @include flexMixin(flex-start, $direction: column);
        position: relative;
        // height: 100%;
        // overflow: hidden;
        // transition: 1s;
        // flex: 1;
        width: 450px;
        padding: 40px;
        background-color: white;

        #closeICON {
          color: #332626;
          font-size: 26px;
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
        }

        h3 {
          margin-bottom: 20px;
          margin-left: 70px;
        }

        div {
          position: relative;

          #Line {
            position: absolute;
            left: 0px;
            background-color: black;
            width: 2px;
            height: 100%;
          }

          #timeStamp-Order {
            margin-left: 20px;

            p {
              margin-left: 20px;
              font-size: 12px;
            }

            #currStage-Order {
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color: black;
              position: absolute;
              left: -24px;
              margin-top: 4px;
            }
          }
        }
      }
    }
  }

  #wishlist {
    margin-top: 20px;

    #WishList-Card {
      @include flexMixin();
      flex-wrap: wrap;
      margin-bottom: 20px;
      gap: 20px;
      background-color: white;
      padding: 15px 30px 15px 15px;
      position: relative;
      border-radius: 10px;

      img {
        width: 120px;
        border-radius: 10px;
      }

      #productDesc {
        // flex: 1;
        // width: 200px;
        width: 72%;
        text-align: justify;
      }

      button {
        position: absolute;
        bottom: 10px;
        right: 20px;
        padding: 5px 20px;
        font-weight: bolder;
        cursor: pointer;
        background-color: #ecb014;
        color: white;

        &:hover {
          background-color: rgba(0, 0, 0, 0.462);
        }
      }

      #IconClose {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 26px;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
          background-color: rgba(0, 0, 0, 0.297);
        }
      }
    }
  }

  @media (max-width: 800px) {
    margin: 0 12px 100px 12px;
    padding: 10px 20px;

    #orderCardsContainer {
      #orderProduct {
        #orderCards {
          padding: 15px 0px;
          h2 {
            font-size: 18px;
          }

          h4 {
            font-size: 14px;
          }

          #orders-Product {
            div {
              img {
                width: 70px;
              }

              p {
                font-size: 12px;
              }
            }
          }
          #orderDesc {
            margin: 4px 0px;
            font-size: 12px;
            text-align: center;
            // width: 100%;
          }
          #btns {
            font-size: 12px;
            button {
              padding: 5px 15px;
            }
          }
        }
      }
    }

    #wishlist {
      #WishList-Card {
        gap: 15px;

        img {
          width: 100px;
          aspect-ratio: 1;
          object-fit: cover;
        }

        #productDesc {
          h2 {
            font-size: 14px;
          }

          p {
            font-size: 12px;
          }
        }
      }

      h1 {
        font-size: 20px;
        width: 98%;
        text-align: left;
      }
    }
  }

  @media (max-width: 520px) {
    #wishlist {
      #WishList-Card {
        #productDesc {
          width: 100%;

          h2 {
            font-size: 16px;
          }

          p {
            width: 100%;
            font-size: 13px;
          }
        }
      }

      h1 {
        font-size: 22px;
        width: 98%;
        text-align: left;
      }
    }
  }
}

#scooterIMG {
  position: fixed;
  bottom: 10px;
  left: 20px;
  width: 80px;
  animation-name: scooterAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes scooterAnimation {
  from {
    left: 100px;
  }

  to {
    left: -80px;
  }
}
