@use "../abstracts" as *;


.products {
  position: relative;
  top: pxToRem(100);
  padding-bottom: 10px;
  @include flexMixin();
  flex-wrap: wrap;
  width: 98vw;
  margin: auto;
  gap: 20px 10px;
  margin-top: 100px;

  .product-card {
    background-color: $color-primary;
    @include flexMixin($JScontent:flex-start,$direction:column);
    align-self: normal;
    overflow: hidden;
    border: 2px solid rgb(255, 255, 255);
    width: pxToRem(220);
    padding-bottom: 30px;
    border-radius: 25px;
    position: relative;
    #product-heart{
      position: absolute;
      top: 15px;
      right: 15px;
      svg{
        font-size: 24px;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.653);
        border-radius: 50%;
        padding: 3px;
        &:hover{
          color: red;
        }
      }
      .active-Heart{
        color: red;
      }
    }
  }

  img {
    width: 100%;
    height: pxToRem(290);
    object-fit: cover;
    border-radius: 18px 18px 0 90px;
  }

  .product-info {
    @include flex-center(column);
    color: black;
    padding: 10px 6px;

    .product-name {
      font-size: 14px;
      font-weight: bolder;
      text-align: center;
    }
    .product-desc {
      text-align: justify;
      margin: 0 8px;
    }

    .product-price {
        align-items: center;
        font-size: 20px;
        font-weight: bolder;
        @include margin-x(30px);
        position: absolute;
        bottom: 12px;
      }
    
    #rating{
      @include flexMixin();
      position: absolute;
      right: 10px;
      bottom: 4px;
      #A {
        color: #B89130;
        font-size: 12px;
        margin-right: 2px;
      }
  
      .product-rating {
        color: #1e1305;
        font-size: 10px;
        font-weight: bold;
        margin-right: 4px;
        display: flex;
        align-items: start;
  
      }
      
    }

    p {
      font-size: 12px;
      font-weight: normal;
    }
  }
}

#pagination{
  @include flexMixin();
  position: relative;
  top: 8rem;
  gap: 10px;
  .Pages{
    @include flexMixin();
    width: 25px;
    height: 25px;
    border: 1px solid #ECB014;
    font-weight: 900;
    // border-radius: 50%;
    border-radius: 5px;
    cursor: pointer;
  }
  .activePage{
    background-color: #ECB014;
  }
  #non-active-side-btn{
    opacity: 0.5;
    // svg{
    //   color: grey;
    // }
  }
}


@media (max-width:1000px){
  .products {
    width: 100vw;
    // margin-top: 5vh;
    margin-top: 100px;

    .product-card{
      width: pxToRem(200);
      img{
        height: 260px;
      } 
    }
  }
}
@media (max-width:840px){
  .products {
    .product-card{
      width: pxToRem(200);
      img{
        height: 220px;
      } 
    }
  }
}

@media (max-width:620px){
  .products {
    margin: auto;
    .product-card{
      width: 45vw;
      img{
        height: 140px;
        border-bottom-left-radius: 50px;
      } 
      .product-info {
        .product-name {
          font-size: 12px;
        }
        .product-desc{
          margin: 0 4px;
        }
    
        .product-price {
            font-size: 18px;
          }
        
        #rating{
          @include flexMixin(flex-start);
          position: absolute;
          right: 10px;
          bottom: 4px;
          #A {
            color: #B89130;
            font-size: 14px;
            margin-right: 2px;
          }
          
        }
      }    
    }
  }
}

@include responsive(tab-land) {
  .products {
    width: 100vw;
    // margin: auto;
    margin-top: 100px;
    // background-color: $color-primary;
  }
}
