@use "../abstracts/" as *;

.ReserveSeatContainer {
  @include flexMixin();
  position: relative;
  top: 85px;
  background-image: url("./assets/Slider/Slider (1).png");
  width: 95vw;
  // min-height: calc(100vh - 130px);
  min-height: 90vh;
  border-radius: 30px;
  margin: auto;
  // overflow: hidden;

  .ReserveSeat {
    position: relative;
    // width: 90%;
    // height: 90%;

    .BlurBackground {
      width: 90vw;
      height: 80vh;
      background-color: rgba(255, 255, 255, 0.271);
      border-radius: 30px;
      filter: blur(2px);
    }

    #ReseverSeatForm {
      position: absolute;
      width: 95vw;
      height: 90vh;

      // width: 100%;
      // height: 100%;
      top: 0;
      @include flexMixin();
      // justify-content: space-evenly;
      // flex-wrap: wrap;
      flex-wrap: wrap-reverse;
      gap: 40px;

      form {
        @include flexMixin();
        flex-direction: column;
        gap: 15px;
        padding: 10px 40px;

        div {
          @include flexMixin();
          padding: 5px 20px;
          border-radius: 5px;
          gap: 10px;
          background-color: #ffffff;

          svg {
            color: #5d0e07;
          }

          input {
            // font-size: 14px;
            border: none;
            outline: none;
            width: 350px;
            font-size: 18px;
          }

          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          /* Firefox */
          input[type="number"] {
            -moz-appearance: textfield;
          }
        }

        button {
          background-color: #ecb014;
          cursor: pointer;
          margin-top: 50px;
          color: white;
          padding: 5px 25px;
          font-size: 20px;
          font-weight: bolder;
        }
      }

      h1 {
        color: white;
      }

      #SecondHALF {
        @include flexMixin();
        flex-direction: column;
        gap: 20px;

        padding: 10px 40px;

        h2 {
          text-align: center;
          background-color: rgba(0, 0, 0, 0.467);
          padding: 10px 20px;
        }

        img {
          width: 30vw;
        }
      }
    }
  }

  @media (max-width: 1224px) {
    .ReserveSeat {
      #ReseverSeatForm {
        gap: 0px;
        form button {
          margin-top: 10px;
        }

        #SecondHALF h2 {
          font-size: 14px;
        }
      }
    }
  }

  @media (max-width: 910px) {
    .ReserveSeat #ReseverSeatForm {
      height: 80vh;
      form div input {
        padding: 2px 0;
        font-size: 14px;
      }
      #SecondHALF {
        img {
          width: 20vh;
        }
      }
    }
  }
  @media (max-width: 600px) {
    .ReserveSeat {
      #ReseverSeatForm {
        form {
          div {
            padding: 2px 20px;

            input {
              width: 60vw;
            }
          }

          button {
            margin-top: 10px;
          }
        }

        #SecondHALF {
          h2 {
            font-size: 15px;
          }
        }
      }
    }
  }
}
