@use "../abstracts/" as *;

.support-wrapper {
  width: 90%;
  margin: auto;
  text-align: justify;
  margin-top: 100px;
  h2,
  h3 {
    margin: 16px 0;
  }
  ol {
    width: 96%;
    margin: auto;
    li {
      margin: 16px 0;
      list-style: decimal;
      span {
        font-size: 18px;
        font-weight: 900;
      }
      p {
        font-size: 16px;
        font-weight: normal;
        a {
          color: $color-secondary;
          &:hover {
            color: #fff;
          }
        }
        ul {
          width: 96%;
          margin: auto;
          li {
            margin: 6px 0;
            list-style: disc;
          }
        }
      }
    }
  }
  .note {
    font-weight: 900;
    text-align: center;
    a {
      color: $color-secondary;
      &:hover {
        color: #fff;
      }
    }
  }
  .greet {
    color: $color-secondary;
    font-size: 28px;
    font-weight: 900;
    text-align: center;
    margin-top: 32px;
  }
}

@include responsive(phone) {
  .support-wrapper {
    .greet {
      font-size: 23px !important;
    }
  }
}
