body {
  background: linear-gradient(180deg, #000 0%, rgba(70, 38, 0, 0.63) 36.98%, rgba(78, 42, 0, 0) 100%);
  background-color: #1E1E1E;
  color: var(--text-primary);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul[role=list],
ol[role=list] {
  list-style: none;
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1,
h2,
h3 {
  line-height: 1.1;
  letter-spacing: 1.5px;
}

p {
  letter-spacing: 1.5px;
}

h1 {
  font-size: 2.5rem;
}

a, a:active, a:visited {
  text-decoration: none;
  color: white;
}

ol, ul {
  list-style: none;
}

button {
  border: none;
  border-radius: 6px;
}

.Header {
  z-index: 99999;
  background-color: #110B03;
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 15px 50px;
}
.Header img {
  width: 85px;
}
.Header ol {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  column-gap: 20px;
}
.Header ol li {
  min-width: 100px;
  padding: 4px 0;
  text-align: center;
  cursor: pointer;
}
.Header ol li a {
  font-size: 14px;
  color: #ECB014;
  letter-spacing: 1px;
}
.Header ol li:hover {
  border-bottom: 2px solid #ECB014;
}
.Header #MenuIcons {
  display: none;
  cursor: pointer;
}

#responiveSliderMenu {
  display: none;
  position: relative;
}
#responiveSliderMenu #userLoginINFO {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  padding-bottom: 20px;
  border-bottom: 2px solid #ff6e00;
}
#responiveSliderMenu img {
  border: 2px solid white;
  border-radius: 50%;
  width: 100px;
}
#responiveSliderMenu #logoutBTN {
  background-color: #DD2900;
  padding: 10px;
  width: 85%;
  font-weight: bolder;
  color: white;
  position: absolute;
  bottom: 20px;
}
#responiveSliderMenu #loginRegisterBTNS {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  padding: 20px 0;
  border-bottom: 2px solid #ff6e00;
}
#responiveSliderMenu #loginRegisterBTNS button {
  font-size: 20px;
  font-weight: bolder;
  padding: 5px 10px;
  flex: 1;
}

@media (max-width: 840px) {
  .Header {
    position: fixed;
    top: 0;
    left: 0;
  }
  .Header #MenuIcons {
    display: flex;
    font-size: 34px;
  }
  .Header ol {
    display: none;
  }
  #responiveSliderMenu {
    transition: 600ms;
    position: fixed;
    top: -120vh;
    left: 0;
    width: 100vw;
    background-color: #2B1B07;
    z-index: 9999;
    padding: 50px 40px;
    display: block;
    height: calc(100vh - 58px);
  }
  #responiveSliderMenu ol {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 50px;
  }
  #responiveSliderMenu ol li {
    padding: 4px 0;
    cursor: pointer;
    text-align: left;
    min-width: 100%;
  }
  #responiveSliderMenu ol li a {
    font-size: 14px;
    color: #ECB014;
    letter-spacing: 1px;
  }
  #responiveSliderMenu ol li:hover {
    border-bottom: 2px solid #ECB014;
  }
}
@media (max-width: 840px) {
  .Header {
    padding: 10px 20px;
  }
}
#SliderContainer {
  position: relative;
}
#SliderContainer .Slider {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  border-radius: 10px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  margin: 10px 50px 0px 50px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 480px;
  border-radius: 20px 20px 0px 0px;
}
#SliderContainer .Slider::-webkit-scrollbar {
  display: none;
}
#SliderContainer .Slider div {
  width: 100%;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
#SliderContainer .Slider div img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
}
#SliderContainer #SliderBTN {
  position: absolute;
  bottom: 30px;
  left: 50%;
  display: flex;
  gap: 5px;
  transform: translate(-50%, 0px);
}
#SliderContainer #SliderBTN button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #928A8A;
}
#SliderContainer #SliderBTN button.active {
  background-color: white;
  width: 20px;
  border-radius: 5px;
}
@media (max-width: 840px) {
  #SliderContainer .Slider {
    height: 380px;
    margin: 10px 0 0 0;
  }
}

#SearchBar {
  z-index: 999;
  position: relative;
  width: 80vw;
  margin: auto;
  height: 42px;
  border-radius: 4px;
  border: 1.5px solid #F7E7DC;
  overflow: hidden;
  background-color: #F7E7DC;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  gap: 10px;
}
#SearchBar #SearchICON {
  background-color: #241606;
  color: white;
  height: 100%;
  width: 60px;
  padding: 0 14px;
}
#SearchBar input {
  flex: 1;
  border: none;
  background: none;
  font-weight: bold;
  outline: none;
}
#SearchBar #Filter {
  color: black;
  font-size: 14px;
  font-weight: bolder;
  gap: 2px;
  padding: 0 10px;
  border-left: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
#SearchBar #Filter svg {
  font-size: 30px;
}
#SearchBar #Filter #fliterTEXT {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
#SearchBar #Filter #fliterTEXT:last-child {
  display: none;
}
@media (max-width: 635px) {
  #SearchBar {
    width: 90vw;
  }
  #SearchBar #SearchICON {
    width: 50px;
  }
  #SearchBar input {
    font-size: 14px;
  }
  #SearchBar #Filter {
    font-size: 12px;
  }
  #SearchBar #Filter #fliterTEXT:last-child {
    display: block;
  }
  #SearchBar #Filter #fliterTEXT:first-child {
    display: none;
  }
}
@media (max-width: 440px) {
  #SearchBar {
    width: 95vw;
  }
  #SearchBar #Filter {
    padding: 2px;
    gap: 0;
  }
}

#Frontproducts {
  margin: 50px 0;
}
#Frontproducts h2 {
  margin-left: 50px;
}
#Frontproducts .ProductContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 20px auto;
  overflow-x: scroll;
  min-width: 50vw;
  max-width: 98vw;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0 20px;
  scroll-snap-type: x mandatory;
  gap: 30px;
}
#Frontproducts .ProductContainer::-webkit-scrollbar {
  display: none;
}
#Frontproducts .ProductContainer .FrontProduct {
  scroll-snap-align: start;
  background-color: #D9D9D9;
  border-radius: 10px;
  border-top-right-radius: 90px;
  border: 2px solid white;
  padding-bottom: 10px;
}
#Frontproducts .ProductContainer .FrontProduct img {
  width: 227px;
  height: 291.11px;
  object-fit: fill;
  border-radius: 10px 90px;
}
#Frontproducts .ProductContainer .FrontProduct p {
  color: black;
  text-align: center;
  font-weight: bolder;
  font-size: 14px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 840px) {
  #Frontproducts .ProductContainer {
    justify-content: flex-start;
  }
  #Frontproducts .ProductContainer .FrontProduct img {
    width: 177px;
    height: 241.11px;
  }
  #Frontproducts .ProductContainer .FrontProduct p {
    font-size: 12px;
  }
}
@media (max-width: 426px) {
  #Frontproducts h2 {
    margin-left: 20px;
  }
  #Frontproducts .ProductContainer {
    margin: 15px 10px;
    max-width: 100vw;
  }
  #Frontproducts .ProductContainer .FrontProduct {
    border-top-right-radius: 40px;
  }
  #Frontproducts .ProductContainer .FrontProduct img {
    border-radius: 10px 40px;
    width: 138px;
    height: 160px;
  }
}

#reviewHeading {
  margin-left: 40px;
}

.CustomerReview {
  display: flex;
  align-items: normal;
  justify-content: flex-start;
  flex-direction: row;
  overflow: scroll;
  min-width: 100vw;
  gap: 20px;
  margin: 10px 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.CustomerReview::-webkit-scrollbar {
  display: none;
}
.CustomerReview .reviewCard {
  width: 875px;
  border-radius: 10px;
  border: 2px solid white;
  padding: 20px;
  position: relative;
}
.CustomerReview .reviewCard #userINFO {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  margin: 10px 5%;
}
.CustomerReview .reviewCard #userINFO img {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid white;
}
.CustomerReview .reviewCard #userINFO h2 {
  flex: 1;
  color: #ECB014;
}
.CustomerReview .reviewCard #stars {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 3px;
  font-size: 12px;
  position: absolute;
  top: 12px;
  right: 20px;
}
.CustomerReview .reviewCard #stars #starLOGO {
  color: #ECB014;
}
.CustomerReview .reviewCard #customerDate {
  font-size: 11px;
  position: absolute;
  right: 20px;
  bottom: 8px;
}
.CustomerReview .reviewCard p {
  font-size: 12px;
  width: 420px;
}

footer {
  padding: 100px 0 20px 0;
}
footer ol {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 15px;
}
footer ol #footerMenu a:hover {
  border-bottom: 2px solid red;
}
footer ol #SocialMedia {
  color: white;
}
footer ol #SocialMedia svg {
  margin: 10px;
  font-size: 50px;
}
footer #downloadApp {
  display: flex;
  gap: 50px;
  margin: 50px 0;
  justify-content: center;
}
footer #downloadApp div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 4px 8px;
  gap: 10px;
  width: 230px;
  border: 2px solid #605959;
  border-radius: 5px;
}
footer #downloadApp div svg {
  font-size: 50px;
}
footer #downloadApp div p {
  font-size: 12px;
}
footer #feedback {
  display: flex;
  gap: 20px;
  margin-left: 30px;
  margin-top: 40px;
  font-weight: bolder;
}
footer #feedback button {
  background-color: #ECB014;
  color: white;
  padding: 6px 18px;
  cursor: pointer;
}
@media (max-width: 700px) {
  footer #footerMenu {
    display: none;
  }
  footer #SocialMedia {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
}

.ReserveSeatContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  top: 85px;
  background-image: url("./assets/Slider/Slider (1).png");
  width: 95vw;
  height: calc(100vh - 130px);
  border-radius: 30px;
  margin: auto;
  overflow: hidden;
}
.ReserveSeatContainer .ReserveSeat {
  width: 90%;
  height: 90%;
  position: relative;
}
.ReserveSeatContainer .ReserveSeat .BlurBackground {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.271);
  border-radius: 30px;
  filter: blur(2px);
}
.ReserveSeatContainer .ReserveSeat #ReseverSeatForm {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  gap: 40px;
}
.ReserveSeatContainer .ReserveSeat #ReseverSeatForm form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-direction: column;
  gap: 15px;
  padding: 10px 40px;
}
.ReserveSeatContainer .ReserveSeat #ReseverSeatForm form div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 5px 20px;
  border-radius: 5px;
  gap: 10px;
  background-color: #FFFFFF;
  /* Firefox */
}
.ReserveSeatContainer .ReserveSeat #ReseverSeatForm form div svg {
  color: #5D0E07;
}
.ReserveSeatContainer .ReserveSeat #ReseverSeatForm form div input {
  border: none;
  outline: none;
  width: 350px;
  font-size: 18px;
}
.ReserveSeatContainer .ReserveSeat #ReseverSeatForm form div input::-webkit-outer-spin-button,
.ReserveSeatContainer .ReserveSeat #ReseverSeatForm form div input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.ReserveSeatContainer .ReserveSeat #ReseverSeatForm form div input[type=number] {
  -moz-appearance: textfield;
}
.ReserveSeatContainer .ReserveSeat #ReseverSeatForm form button {
  background-color: #ECB014;
  cursor: pointer;
  margin-top: 50px;
  color: white;
  padding: 5px 25px;
  font-size: 20px;
  font-weight: bolder;
}
.ReserveSeatContainer .ReserveSeat #ReseverSeatForm h1 {
  color: white;
}
.ReserveSeatContainer .ReserveSeat #ReseverSeatForm #SecondHALF {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-direction: column;
  gap: 20px;
  padding: 10px 40px;
}
.ReserveSeatContainer .ReserveSeat #ReseverSeatForm #SecondHALF h2 {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.467);
  padding: 10px 20px;
}
.ReserveSeatContainer .ReserveSeat #ReseverSeatForm #SecondHALF img {
  width: 30vw;
}
@media (max-width: 1224px) {
  .ReserveSeatContainer .ReserveSeat #ReseverSeatForm form button {
    margin-top: 10px;
  }
  .ReserveSeatContainer .ReserveSeat #ReseverSeatForm #SecondHALF img {
    width: 20vh;
  }
}
@media (max-width: 600px) {
  .ReserveSeatContainer .ReserveSeat #ReseverSeatForm form div {
    padding: 2px 20px;
  }
  .ReserveSeatContainer .ReserveSeat #ReseverSeatForm form div input {
    width: 60vw;
  }
  .ReserveSeatContainer .ReserveSeat #ReseverSeatForm form button {
    margin-top: 10px;
  }
  .ReserveSeatContainer .ReserveSeat #ReseverSeatForm #SecondHALF h2 {
    font-size: 15px;
  }
}

#Contact {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  position: relative;
  top: 70px;
  width: 95vw;
  height: 85vh;
  border: 2px solid #817E7E;
  border-radius: 30px;
  margin: auto;
  overflow: hidden;
  flex-wrap: wrap;
}
#Contact img {
  width: 510px;
  height: 100%;
  object-fit: cover;
  flex: 1;
}
#Contact #ContactForm {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  position: relative;
  padding: 30px;
}
#Contact #ContactForm #blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(217, 217, 217, 0.044);
}
#Contact #ContactForm #BlurFORM {
  z-index: 999;
}
#Contact #ContactForm #BlurFORM h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}
#Contact #ContactForm #BlurFORM p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
}
#Contact #ContactForm #BlurFORM form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
#Contact #ContactForm #BlurFORM form div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
#Contact #ContactForm #BlurFORM form div input {
  width: 280px;
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 2px;
}
#Contact #ContactForm #BlurFORM form textarea {
  width: 100%;
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 4px;
}
#Contact #ContactForm #BlurFORM form button {
  background-color: #ECB014;
  color: white;
  padding: 5px 30px;
  font-weight: bolder;
  margin-top: 20px;
  font-size: 16px;
  border-radius: 3px;
}
@media (max-width: 1205px) {
  #Contact #ContactForm {
    position: absolute;
    top: 0;
    margin: auto;
    width: 100%;
  }
  #Contact #ContactForm #BlurFORM {
    background-color: rgba(0, 0, 0, 0.653);
    padding: 20px 40px;
    border-radius: 10px;
  }
}
@media (max-width: 620px) {
  #Contact #ContactForm #BlurFORM {
    width: 95vw;
    border-radius: 10px;
  }
  #Contact #ContactForm #BlurFORM form div {
    flex-direction: column;
    width: 100%;
  }
  #Contact #ContactForm #BlurFORM form div input {
    width: 100%;
  }
}

.grid {
  display: grid;
  gap: var(--gap, var(--size-3));
}

.flex {
  display: flex;
  gap: var(--gap, var(--size-3));
}

:root {
  --background-primary: #ffffff;
  --text-primary: #121212;
}
@media (prefers-color-scheme: light) {
  :root {
    --background-primary: #ffffff;
    --text-primary: #121212;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-primary: #121212;
    --text-primary: #ffffff;
  }
}

.light-theme {
  --background-primary: #ffffff;
  --text-primary: #121212;
}

.dark-theme {
  --background-primary: #121212;
  --text-primary: #ffffff;
}

/*# sourceMappingURL=index.css.map */
